       .header{
            background-color: grey;
            padding: 30px;
            text-align: center;
            text-align: center;
            font-size: 35px;
            color: black;
        }
        .container{
            display: inline-block;
            background-color: grey;
            height: 400px;
            width: 22%;
            margin: 1%;
            padding:1%;
            position: relative;
            
        }
        .container1{
            display: inline-block;
            background-color: grey;
            height: 400px;
            width: 40%;
            margin:1%;
            padding:1%;
            position: relative;
        }

    